.Form {
  form {
    display: flex;
    flex-direction: column;

    .upper-form {
      display: flex;
      // flex-direction: column;
      gap: 20px;
    }

    .select-dropdown {
      margin: 12px 0;
      position: relative;
      background-color: #e6e6e6;
      width: auto;

      max-width: 160px;
      border-radius: 2px;
      select {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 200;
        max-width: 100%;
        padding: 8px 24px 8px 10px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: 220ms all ease-in-out;

        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover,
        &:active {
          background-color: scale-color(#e6e6e6, $lightness: -10%);
        }
      }
      &:after {
        content: ' ';
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #aaa;
      }
    }

    .engine-description {
      border: 2px solid green;
      padding: 10px;
      margin-bottom: 12px;
      background-color: rgba(144, 238, 144, 0.337);
      border-radius: 4px;
    }

    textarea {
      width: 100%;
      height: 25em;
      border-radius: 4px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      padding: 8px 16px;
      color: white;
      background: rgb(1, 1, 241);
      font-size: 16px;
      cursor: pointer;
      border: 2px solid blue;
      border-radius: 4px;
      transition: 220ms all ease-in-out;
      &:focus {
        outline-style: solid;
        outline-color: transparent;
        box-shadow: 0 0 0 4px scale-color(blue, $lightness: -40%);
      }

      &:hover,
      &:active {
        background-color: scale-color(blue, $lightness: -20%);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }
    }

    button:disabled,
    button[disabled] {
      cursor: auto;
      border: 1px solid rgba(173, 216, 230, 0.683);
      background-color: rgba(173, 216, 230, 0.53);
      color: #b8b8b8;
      box-shadow: none;
    }

    i {
      margin-right: 5px;
      color: #b8b8b8;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .Form {
    width: 90%;
  }
}
