.Responses-container {
  .no-response {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: rgb(120, 120, 120);
    background-image: linear-gradient(
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    ) !important;
  }
  div:first-of-type {
    background-image: linear-gradient(rgb(187, 187, 187), rgb(222, 221, 221));
  }
}
.Response {
  background-color: rgb(222, 221, 221);
  padding: 4px 20px;
  margin: 12px 0px;
  border-radius: 4px;

  .close {
    float: right;

    button {
      border: 0px solid black;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      i {
        font-size: 24px;
        transition: 220ms all ease-in-out;

        &:hover,
        &:active {
          color: scale-color(black, $lightness: -10%);
          filter: drop-shadow(2px 4px 8px #585858);
        }
      }
    }
  }

  p {
    display: flex;

    span {
      margin: 4px 0;
    }

    .wrap {
      width: 100%;
      overflow-x: scroll;
    }

    .prompt-span {
      margin-right: 39px;
    }

    .response-span {
      margin-right: 19px;
    }

    .engine-span {
      margin-right: 42px;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .Responses-container {
    width: 90%;
  }
}
