.ResponseFilter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    background-color: scale-color(blue, $lightness: 60%);
    border: 3px solid scale-color(blue, $lightness: 60%);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    transition: 330ms all ease-in-out;

    &:hover {
      border: 3px solid blue;
      background-color: scale-color(blue, $lightness: 55%);
    }
    @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentcolor;
    }
  }

  .active {
    background-color: blue;
    border: 3px solid blue;
  }
}
