.Responses-container {
  div:first-of-type {
    background-image: linear-gradient(rgb(187, 187, 187), rgb(222, 221, 221));
  }
}
.Response {
  background-color: rgb(222, 221, 221);
  padding: 4px 20px;
  margin: 12px 0px;
  border-radius: 4px;

  p {
    display: flex;

    span {
      margin: 4px 0;
    }
    .prompt-span {
      margin-right: 39px !important;
    }

    .response-span {
      margin-right: 19px;
    }

    .engine-span {
      margin-right: 42px !important;
    }
  }
}
