@import 'App';
@import 'Nav';
@import 'Home';
@import 'Form';
@import 'Responses';
@import 'ResponseFilter';
@import 'AIContainer';
@import 'YoutubeEmbeded';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-70 {
  width: 70%;
}

@media only screen and (max-width: 1025px) {
  .w-70 {
    width: 90%;
  }
}
